*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
}
body{
    background-color: #F9CEEE;
    margin-top: 4%;
    color: #541690;
}
.h1heading{
    font-size: 4rem;
}
.paragraph{
    margin: 1% 10% 2%;
    color: black;
    padding: 2%;
}
h5{
    text-align: left;
}
h3{
    margin: 2%;
}
.comment{
    width: 50%;
    margin: 2%;
}
.button1{
    margin: 2%;
}
